# version: "3.9"

services:
  web:
    build: .
    command: python -c "import django; print('✅ Dependencies Installed ✅'); print('Django', django.get_version())"
    volumes:
      - .:/code
    env_file:
      - .env
    depends_on:
      - db
      - redis
    ports:
      - "8000:8000"

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  db:
    image: postgres:15
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data/

volumes:
  pgdata:
