services:
  web:
    build: .
    command: sh -c "chmod +x /code/entrypoint.sh && /code/entrypoint.sh python manage.py runserver 0.0.0.0:8000"
    volumes:
      - .:/code
      - static_volume:/code/staticfiles
    env_file:
      - .env
    depends_on:
      - db
      - redis
    ports:
      - "8000:8000"

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  db:
    image: postgres:15
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-promogpt}
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-postgres}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data/

volumes:
  pgdata:
  static_volume: